header {
    text-align: center;
    border-width: 2px;
    border-color: blue;
    background-image: url("../images/HeaderBG.jpg");

}

#bgPics {
    background-image: url(../images/beavis-and-butthead-nin.jpg);
    background-repeat: repeat;
}

#flavorPics {
    background-image: cover;

}

#timerField {
    justify-content: center;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(150, 60, 235);
    border-radius: 3px;
    background-color: rgba(247, 165, 57, 0.644);
}

#promptField {
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(60, 127, 235);
    background-color: rgba(57, 56, 58, 0.815);
    color: rgb(60, 127, 235);
    margin: 10px auto; 
}

#controlField {
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(60, 127, 235);
    background-color: rgba(57, 56, 58, 0.815);
    color: rgb(60, 127, 235);
    margin: auto, 10px;
}
#flavorPics {
    justify-items: center;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(247, 165, 57);
    background-color: rgba(150, 60, 235, 0.6);
    margin: auto, 10px;
}