header {
    text-align: center;
    border-width: 2px;
    border-color: blue;
    background-image: url("../images/HeaderBG.jpg");

}

#bgPics {
    background-image: url(../images/beavis-and-butthead-nin.jpg);
    background-repeat: repeat;
}

#flavorPics {
    background-image: cover;

}

#timerField {
    justify-content: center;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(150, 60, 235);
    border-radius: 3px;
    background-color: rgba(247, 165, 57, 0.644);
    animation-name: borderShift;
    animation-duration: 20s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

#promptField {
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(60, 127, 235);
    background-color: rgba(57, 56, 58, 0.815);
    color: rgb(60, 127, 235);
    margin: 10px auto; 
    animation-name: borderShift;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#controlField {
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(60, 127, 235);
    background-color: rgba(57, 56, 58, 0.815);
    color: rgb(60, 127, 235);
    margin: auto, 10px;
    animation-name: borderShift;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes borderShift {
    0% {border-color: rgba(150, 60, 235, 0.6);}
    6% {border-color: rgba(37, 139, 235, 0.6);}
    12% {border-color: rgba(27, 238, 203, 0.6);}
    18% {border-color: rgba(236, 240, 27, 0.6);}
    25% {border-color: rgba(235, 162, 45, 0.6);}
    31% {border-color: rgba(235, 60, 60, 0.6);}
    37% {border-color: rgb(255, 255, 255);}
    44% {border-color: rgb(248, 232, 9);}
    50% {border-color: rgba(255, 0, 0, 0.6);}
    56% {border-color: rgba(150, 60, 235, 0.6);}
    62% {border-color: rgba(37, 139, 235, 0.6);}
    68% {border-color: rgba(27, 238, 203, 0.6);}
    74% {border-color: rgba(236, 240, 27, 0.6);}
    80% {border-color: rgba(235, 162, 45, 0.6);}
    86% {border-color: rgba(235, 60, 60, 0.6);}
    90% {border-color: rgb(255, 255, 255);}
    95% {border-color: rgb(248, 232, 9);}
    100% {border-color: rgba(255, 0, 0, 0.6);}
}

#flavorPics {
    justify-items: center;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(247, 165, 57);
    /* background-color: rgba(150, 60, 235, 0.6); */
    margin: auto, 10px;
    animation-name: colorShift;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes colorShift {
    0% {background-color: rgba(150, 60, 235, 0.6);}
    6% {background-color: rgba(37, 139, 235, 0.6);}
    12% {background-color: rgba(27, 238, 203, 0.6);}
    18% {background-color: rgba(236, 240, 27, 0.6);}
    25% {background-color: rgba(235, 162, 45, 0.6);}
    31% {background-color: rgba(235, 60, 60, 0.6);}
    37% {background-color: rgb(255, 255, 255);}
    44% {background-color: rgb(248, 232, 9);}
    50% {background-color: rgba(255, 0, 0, 0.6);}
    56% {background-color: rgba(150, 60, 235, 0.6);}
    62% {background-color: rgba(37, 139, 235, 0.6);}
    68% {background-color: rgba(27, 238, 203, 0.6);}
    74% {background-color: rgba(236, 240, 27, 0.6);}
    80% {background-color: rgba(235, 162, 45, 0.6);}
    86% {background-color: rgba(235, 60, 60, 0.6);}
    90% {background-color: rgb(255, 255, 255);}
    95% {background-color: rgb(248, 232, 9);}
    100% {background-color: rgba(255, 0, 0, 0.6);}

}